#app{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    height:100%;

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

*{
    margin:0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color);
    background-color: var(--bg);
}

h1,h2,h3,h4,h5,h6{
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    margin:0.5rem 0;
}

a{
    text-decoration: none;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -150px; 
    flex: 3;
}

header{
    flex: 1;
    min-width: 350px;
    text-align: center;
    padding: 2rem;
    margin-top:4rem;
}

main{
    margin-top: 4rem;
}

.content{
    background-color: var(--content-bg);
    padding: 2rem;
    border:1px solid var(--content-border);
}

footer{
    flex: 1 100%;
    text-align: center;
}

footer, nav{
    color: var(--tertiary-color);
}

footer a, nav a{
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
}



footer>p{
    font-size:12px;
}

nav>ul, footer>ul, .socials>ul{
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

nav>ul>li, footer>ul>li, .socials>ul>li{
    display: inline-block;
    padding: 0.5rem;
}

.header-name{
    text-transform: uppercase;
    font-weight:700;
}

.header-name span{
    font-weight:300;
}

.header-subtitle{
    text-transform: uppercase;
    font-weight:600;
    font-size: 1rem;
    color: var(--tertiary-color);
    margin-bottom:2rem;
}

.email a{
    font-family: 'Montserrat', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 500;
    font-size: 0.94rem;
    color: var(--secondary-color);
    vertical-align: middle;
}


.project-snippet{
    margin: 0 0 4rem 0;
}

.project-snippet:last-child{
    margin: 0 0 0 0;
}

.project-snippet img{
    opacity: 25%;
}


.socials>ul>li{
    padding: 0.3rem;
}


.wrapper:after {
  content: "";
  display: block;
}
.site-footer, .wrapper:after {
  /* .push must be the same height as footer */
	height: 150px; 
}

.made-with span{
    opacity: 0.5;
}



/*  Social Icons  */

.icon{
    width:30px;
}

.icon path, .icon circle, .icon rect, .icon polygon, .icon polyline{
    fill:var(--primary-color);
    /*transition: fill 1s;*/
}

.icon polyline, .icon polygon{
    stroke:rgba(var(--background-color),1);
}

.icon:hover path, .icon:hover circle, .icon:hover rect, .icon:hover polygon, .icon:hover polyline{
    /*fill:var(--tertiary-color);
    transition: fill 0.5s;*/
}

.icon:hover polyline, .icon:hover polygon{

}

.icon-no-fill{
    fill:none;
}

.email-icon{
    width:24px;
    vertical-align: middle;
}

/*  Remove transitions  */

.preload *{

}


/*  Media Queries  */

@media screen and (max-width:768px){
    header{
        position:relative;
        width:auto;
        max-width:none;
    }

    main, footer{
        margin-left:0;
    }
}


/*  Animations  */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
