:root{
    --bg-color:#E9C46A;
    --background-color: #264653;
    --primary-color:#2A9D8F;
    --secondary-color:#2A9D8F;
    --tertiary-color:#2A9D8F;

    --dark-orange: #6698b9;
    --yellow: #748b92;
    --orange: #748b92;
    --light-green: #82979e;
    --green: #11dfc7;
    --dark-green: #c0d0d6;
}