:root{
    --bg: #fafafa;
    --primary-color:#7e7e7e;
    --secondary-color:#008bfd;
    --tertiary-color:#c0c0c0;
     
    --content-bg: #f5f5f5;
    --content-border: #eeeeee;

    --content-bg: #fafafa;
    --content-border: #fafafa;
}