:root {
	--bg: #fafafa;
	--primary-color: #363636;
	--secondary-color: #008bfd;
	--tertiary-color: #949494;

	--content-bg: #f5f5f5;
	--content-border: #eeeeee;

	--content-bg: #fafafa;
	--content-border: #fafafa;
}
